.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-page__header {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 30px 0;
  background: white;
  border-bottom: 1px solid #ddd;

  .content {
    @extend .page-width;
    text-align: right;
  }
}

.home-page__content {
  padding: 30px 0;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: auto;
  text-align: center;
}

.form-box {
  margin: 0 auto;
  width: 300px;
  padding: 40px 30px 30px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  border: 1px solid darken($background-color, 5%);
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 50px;
}

.form-subtitle {
  font-size: 18px;
  text-align: left;
  margin-top: -35px;
  margin-bottom: 50px;
}

.form-columns {
  display: flex;
  justify-content: space-between;

  &~.form-columns {
    margin-top: 100px;
  }
}

.form-column {
  // display: inline-block;
  // vertical-align: top;
  // margin: 20px 40px;

  &:first-child {
    margin-left: 0;
  }
}

.form-column__title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.black-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 995;
}

.modal {
  text-align: left;
  border-radius: 3px;
  background: white;
  position: fixed;
  z-index: 1000;
  top: 50px;
  box-shadow: 0 10px 50px 0 rgba(black, 0.5);
}

.modal__title {
  padding: 80px 40px 25px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 100;
  background-color: $red;
  color: white;
  text-shadow: 0 1px 2px rgba(black, 0.4);
}

.modal__form {
  padding: 20px 60px 40px;
  box-sizing: border-box;
  margin-top: 40px;
}

.form-messages {
  margin-top: 30px;
  text-align: center;
}

.form-buttons {
  margin-top: 30px;
  text-align: center;

  .button {
    margin-right: 20px;
  }
}


.multi-step-form {
}

.multi-step-form__header {
  display: flex;
  justify-content: space-between;
}

.multi-step-form-header__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.multi-step-form__navigation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.add-product-form {
  width: 100%;
}

.add-product-form__row {
  display: flex;
  justify-content: space-between;
}

.add-product-form__base-info {
  @extend .form-box;
  margin: 0;
  width: 35%;
}

.add-product-form__ingredients {
  @extend .form-box;
  margin: 0;
  margin-left: 50px;
  width: 65%;
}

.ingredient-list {
  text-align: left;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.ingredient {
  background: white;
  flex-grow: 1;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid darken($background-color, 10%);
  border-radius: 3px;
  margin: 1px;
  transition: background 0.15s ease;

  &:hover {
    background: darken($background-color, 5%);
    cursor: default;
    transition: background 0.15s ease;
  }
}

.add-product-form__nutrition-facts {
  @extend .form-box;
  width: 100%;
  margin-top: 50px;
}

.products-summary__container {
  margin: 0 auto;
  text-align: center;
}

.products-summary {
  margin: 5px 5px;
  padding: 30px;
  display: inline-block;
  background-color: $site-dark-blue;
  border: 1px solid white;
  border-radius: 4px;
  transition: background 0.15s ease;
  width: 300px;
  vertical-align: top;

  &:hover {
    background-color: darken($site-dark-blue, 5%);
    cursor: default;
    transition: background 0.15s ease;
  }
}

%products-summary__text {
  font-size: 16px;
  color: white;
  text-align: left;
}

.products-summary__name,
.products-summary__brand {
  @extend %products-summary__text;
}

.products-summary__name {
  font-weight: bold;
}

.products-summary__brand {
  margin-top: 5px;
  font-weight: lighter;
}

.products-summary__brand-by {
  font-style: italic;
  margin-right: 3px;
}

// .form-input-row {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//
//   .form-input {
//     flex-grow: 1;
//     flex-shrink: 1;
//     margin-left: 50px;
//
//     &:first-of-type {
//       margin-left: 0;
//     }
//
//     &:first-child {
//       margin-top: 40px;
//     }
//   }
// }
